body{
    background-color:SteelBlue;
    font-family:"Audiowide";
    text-shadow:1px 1px 4px white;
}
h1{
    font-family:"VT323";
    font-size:54px;
    text-shadow:1px 1px 2px white;
}
h2{
    font-family: Audiowide;
}

.adjust{
    margin-left: 3%;
    margin-top:100px;
}

.adjust2{
    margin-left: 4%;
    margin-top: 15px;
}